/* ჰედერი */
.head1 {
    width: 1440px;
    background-color: #2A9D8F;
    padding: 38px 130px;
    margin: 0px auto;
    
}

.logo1 {
    width: 46px;
    vertical-align: middle;

}

.nav1 {
    display: inline-block;
    vertical-align: middle;
    margin-inline: 340px;
}

.p1 {
    font-size: 20px;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'Nerko One', cursive;
}

.p2 {
    font-size: 20px;
    color: #FFFFFF;
    display: inline-block;
    margin-inline: 51px;
    font-family: 'Nerko One', cursive;


}

.butt1 {
    width: 147px;
    vertical-align: middle;
    background: #FFFFFF;
    padding: 8px 16px;
    color: #2A9D8F;
    font-family: 'Poppins', sans-serif;
}
/* არტიკლი */
.art1{
    width: 1440px;
    margin: 200px auto 0; 

}
.h1{
    width: 500px;
    font-size: 48px;
    margin: 0 548px 60px;
    font-family: 'Poppins', sans-serif;
}
.p3{
    width: 780px;
    font-size: 20px;
    margin: 0 330px 52px;
    font-family: 'Nerko One', cursive;
}
/* სექცია1 */
.section1{
    width: 1440px;
    margin: 0 auto;
    padding: 80px 130px;
}
.img1{
    width: 600px;
    display: inline-block;
    margin-right: 120px;
}

.div1{
    display: inline-block;
    vertical-align: top;
}
.h2{
    width: 450px;
    color:  #272727;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    
}
.p4{
    width: 450px;
    margin-top: 27px;
    margin-bottom: 45px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.butt2{
    width: 120px;
    background: #2A9D8F;
    padding: 11px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

/* სექცია2 */
.section2{
    width: 1440px;
    margin: 0 auto;
    margin-top: 200px;
    
}
.h3{
    font-size: 48px;
    color: #4D4D4D;
    margin-bottom: 54px;
    margin-left: 490px;
    font-family: 'Poppins', sans-serif;

}
.div2{
    width: 580px;
    display: inline-block;
    margin-left: 130px;
    margin-right: 20px;
}
.div3{
    width: 580px;
    display: inline-block;
}
.p5{
    margin-top: 32px;
    font-size: 24px;
    color: #535353;
    font-family: 'Poppins', sans-serif;
}
/* ფუტერი */
.footer1{
    width: 1440px;
    background: #2A9D8F;
    padding: 90px 130px 148px;
    margin: 0 auto;
    margin-top: 200px;
}
.img5{
    display: inline-block;
    width: 98px;
    vertical-align: top;
}
.nav2{
    display: inline-block;
    margin-left: 600px;
    vertical-align: top;
}
.div5{
    display: inline-block;
    width: 63px;
    vertical-align: top;
}
.div6{
    display: inline-block;
    width: 153px;
    margin-inline: 41px;
    vertical-align: top;
}
.div7{
    display: inline-block;
    width: 148px;
    vertical-align: top;
}
.h6{
    font-size: 20px;
    margin-bottom: 21px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}
.p6{
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.p7{
    color: #FFFFFF;
    font-size: 18px;
    margin: 8px 0;
    font-family: 'Poppins', sans-serif;

}
